<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon.png">
  <link rel="icon" type="image/png" href="images/favicon.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <title>iTech - Admin Dashboard</title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
</head>

<body class="g-sidenav-show   bg-gray-100">
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
  <aside
    class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 "
    id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/argon-dashboard/pages/dashboard.html "
        target="_blank">
        <img src="images/logos/logo.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold">iTech</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <div class="  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link active" href="/home">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Trang chủ</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="/categories">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Loại sản phẩm</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="/brands">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Thương hiệu</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="/products">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Sản phẩm</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="/sub-product">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-collection text-info text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Chi tiết sản phẩm</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="/customers">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-credit-card text-success text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Khách hàng</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="/orders">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-app text-info text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Đơn hàng</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link " href="/profile">
            <div
              class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Trang cá nhân</span>
          </a>
        </li>

      </ul>
    </div>

  </aside>
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur"
      data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" href="javascript:;">Trang chủ</a></li>
            <li class="breadcrumb-item text-sm text-white active" aria-current="page">Thống kê</li>
          </ol>
        </nav>

      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Doanh thu trong tháng</p>
                    <h5 class="font-weight-bolder" id="total-products">
                    </h5>
                    <p class="mb-0">
                      <span class="text-sm font-weight-bolder" id="percent">+55%</span>
                      since last month
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                    <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Khách hàng</p>
                    <h5 class="font-weight-bolder" id="total-users">

                    </h5>
                    <p class="mb-0">
                      <span class="text-sm font-weight-bolder" id="percent-customer">+3%</span>
                      since last week
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                    <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Tổng đơn hàng</p>
                    <h5 class="font-weight-bolder" id="total-orders">
                    </h5>
                    <p class="mb-0">
                      <span class="text-sm font-weight-bolder" id="percent-order">+5%</span> than last month
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                    <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Đã bán</p>
                    <h5 class="font-weight-bolder" id="total-sold">
                    </h5>
                    <p class="mb-0">
                      <span class="text-sm font-weight-bolder" id="percent-order-sold">-2%</span>
                      since last quarter
                    </p>
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                    <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card z-index-2 h-100">
            <div class="card-header pb-0 pt-3 bg-transparent">
              <h6 class="text-capitalize">Tổng doanh thu trong 7 ngày trở lại đây</h6>
              {{!-- <p class="text-sm mb-0">
                <i class="fa fa-arrow-up text-success"></i> --}}
              <h4 id="total-10" class="fw-bold">
                </h3>
                </p>
            </div>
            <div class="col-md-8">
              <div class="chart-container">
                <canvas id="totalIncomeChart" class="chart-canvas" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-primary">
            <div class="card-header">
              <div class="card-title">Doanh thu trong ngày hôm nay</div>
              <div class="card-category">
                <h3 id="date-today"></h3>
              </div>
            </div>
            <div class="card-body pb-0">
              <div class="mb-4 mt-2">
                <h1 id="total-today"></h1>
              </div>
              <div class="pull-in">
                <canvas id="dailySalesChart"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/chartjs.min.js"></script>

  <script>
    const domain = 'https://itech-server-hiuntps.onrender.com';
    var users = $('#total-users');
    var products = $('#total-products');
    var orders = $('#total-orders');
    var sold = $('#total-sold');
    var total10 = $('#total-10');
    var dateToday = $('#date-today');
    var totalToday = $('#total-today');
    dateToday.text(new Date().toLocaleDateString('en-GB', {
      day: 'numeric',
      month: 'long',
      year: 'numeric'
    }));
    totalToday.text(0);
    //total10.text('0 vnd');
    total10.text({{ totalAll }} + ' $');
    users.text(0);
    products.text(0)
    orders.text(0)
    sold.text(0)

    //thong ke user
    function GetUsers() {
      return fetch(`${domain}/cpanel/users`)
        .then(response => response.json())
        .then(data => {
          return data;
        })
    };

    async function OnGetUsers() {
      let usersArr = await GetUsers();
      var usersNumber = 1;
      usersNumber = usersArr.data.length;
      users.text(usersNumber)
    }
    OnGetUsers();

    //thong ke san pham
    function GetProducts() {
      return fetch(`${domain}/cpanel/get-products`)
        .then(response => response.json())
        .then(data => {
          return data;
        })
    };

    async function OnGetProducts() {
      let proArr = await GetProducts();
      var proNumber = 1;
      proNumber = proArr.data.length;
      products.text(proNumber)
    }
    OnGetProducts();

    // thong ke tong don hang
    function GetOrdersAll() {
      return fetch(`${domain}/cpanel/get-orders`)
        .then(response => response.json())
        .then(data => {
          return data;
        })
    };


    async function OnGetOrdersAll() {
      let ordersArr = await GetOrdersAll();
      var ordersNumber = 0;
      ordersNumber = ordersArr.data.length;
      orders.text(ordersNumber)
    }
    OnGetOrdersAll();

    // thong ke don hang thanh cong
    function GetOrdersSold() {
      return fetch(`${domain}/cpanel/get-orders-soil`)
        .then(response => response.json())
        .then(data => {
          return data;
        })
    };

    async function OnGetOrdersSold() {
      let soldArr = await GetOrdersSold();
      var soldNumber = 0;
      soldNumber = soldArr.data.length;
      sold.text(soldNumber)
    }
    OnGetOrdersSold();


    // thong ke 10 ngay
    function GetAnal10Days() {
      return fetch('http://localhost:3001/orders/10days/get/')
        .then(response => response.json())
        .then(data => {
          return data;
        })
    };

    async function OnGetAnal10Days() {
      const list = {{{ list }}};
      let labels = [], data = [];
      list.forEach(item => {
        labels.push(item.name);
        data.push(item.value);
      });

      var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');
      var mytotalIncomeChart = new Chart(totalIncomeChart, {
        type: 'bar',
        data: {
          labels: labels,
          datasets: [{
            label: "Doanh thu",
            backgroundColor: '#ff9e27',
            borderColor: 'rgb(23, 125, 255)',
            data: data,
          }],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          legend: {
            display: false,
          },
          scales: {
            yAxes: [{
              ticks: {
                display: false //this will remove only the label
              },
              gridLines: {
                drawBorder: false,
                display: false
              }
            }],
            xAxes: [{
              gridLines: {
                drawBorder: false,
                display: false
              }
            }]
          },
        }
      });
    }
    OnGetAnal10Days();

    //thong ke hom nay
    function GetIncomeToday() {
      return fetch(`${domain}/cpanel/today`)
        .then(response => response.json())
        .then(data => {
          return data;
        })
    };

    async function OnGetIncomeToday() {
      let moneyToday = await GetIncomeToday();
      totalToday.text(moneyToday.data + ' $');
    }
    OnGetIncomeToday();



    //format number
    function convertVND(text) {
      return text.toLocaleString('it-IT', { style: 'currency', currency: 'VND' });
    }

     //Phan tram
    var percent = $('#percent');
    var percentCustomer = $('#percent-customer');
    var percentOrder = $('#percent-order');
    var percentOrderSold = $('#percent-order-sold');

    function GetPercentCustomer() {
      return fetch(`${domain}/cpanel/get-percent-customer`)
        .then(response => response.json())
        .then(data => {
          return data;
        })
    };
    async function OnGetPercentCustomer() {
      let percentCustomerArr = await GetPercentCustomer();
      if(percentCustomerArr.data > 0) {
        percentCustomer.text('+ ' + percentCustomerArr.data + '%');
      }else{
        percentCustomer.text(percentCustomerArr.data + '%');
      }
    }
    OnGetPercentCustomer();

    function GetPercentOrder() {
      return fetch(`${domain}/cpanel/get-percent-order`)
        .then(response => response.json())
        .then(data => {
          return data;
        })
    };
    async function OnGetPercentOrder() {
      let percentOrderArr = await GetPercentOrder();
      if(percentOrderArr.dataMoney > 0) {
        percentOrder.text('+ ' + percentOrderArr.data + '%');
      }else{
        percentOrder.text(percentOrderArr.data + '%');
      }
      if(percentOrderArr.dataMoney > 0) {
        percent.text('+ ' + percentOrderArr.dataMoney + '%');
      }else{
        percent.text(percentOrderArr.dataMoney + '%');
      }
      if(percentOrderArr.totalMoney > 0) {
        products.text(convertVND(percentOrderArr.totalMoney + '$'));
      }else{
        products.text(percentOrderArr.totalMoney + '$');
      }
      //percentOrder.text(percentOrderArr.data + '%');
      //percent.text(percentOrderArr.dataMoney + '%');
      //products.text(percentOrderArr.totalMoney + '$');
      //alert(percentOrderArr.totalMoney + '-----' + percentOrderArr.dataMoney);
    }
    OnGetPercentOrder();

    function GetPercentOrderSold() {
      return fetch(`${domain}/cpanel/get-percent-order-sold`)
        .then(response => response.json())
        .then(data => {
          return data;
        })
    };
    async function OnGetPercentOrderSold() {
      let percentOrderSoldArr = await GetPercentOrderSold();
      if(percentOrderSoldArr.data > 0) {
        percentOrderSold.text('+ ' + percentOrderSoldArr.data + '%');
      }else{
        percentOrderSold.text(percentOrderSoldArr.data + '%');
      }
    }
    OnGetPercentOrderSold();

  </script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>

</html>