<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon.png">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <title>iTech</title>
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!-- Nucleo Icons -->
    <link href="/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- Font Awesome Icons -->
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="/assets/css/nucleo-svg.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link id="pagestyle" href="/assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
    <script language="javascript" src="/javascripts/insert.js"></script>
    <link id="pagestyle" href="/stylesheets/style.css" rel="stylesheet" />


</head>

<body class="g-sidenav-show   bg-gray-100">
    <div class="min-height-300 bg-primary position-absolute w-100"></div>
    <aside
        class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 "
        id="sidenav-main">
        <div class="sidenav-header">
            <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
                aria-hidden="true" id="iconSidenav"></i>
            <a class="navbar-brand m-0" href=" https://demos.creative-tim.com/argon-dashboard/pages/dashboard.html "
                target="_blank">
                <img src="/images/logos/logo.png" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold">iTech</span>
            </a>
        </div>
        <hr class="horizontal dark mt-0">
        <div class="  w-auto " id="sidenav-collapse-main">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link " href="/home">
                        <div
                            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Trang chủ</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="/categories">
                        <div
                            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Loại sản phẩm</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="/brands">
                        <div
                            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Thương hiệu</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link  " href="/products">
                        <div
                            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-calendar-grid-58 text-warning text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Sản phẩm</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active " href="/sub-product">
                        <div
                            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-collection text-info text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Chi tiết sản phẩm</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="/customers">
                        <div
                            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-credit-card text-success text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Khách hàng</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="/orders">
                        <div
                            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-app text-info text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Đơn hàng</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <div
                            class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
                            <i class="ni ni-single-02 text-dark text-sm opacity-10"></i>
                        </div>
                        <span class="nav-link-text ms-1">Trang cá nhân</span>
                    </a>
                </li>

            </ul>
        </div>
    </aside>


    <main class="main-content position-relative border-radius-lg ">
        <!-- Navbar -->
        <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur"
            data-scroll="false">
            <div class="container-fluid py-1 px-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                        <li class="breadcrumb-item text-sm">
                            <a class="opacity-5 text-white" href="javascript:;">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item text-sm text-white active" aria-current="page">Thêm chi tiết sản phẩm</li>
                    </ol>
                </nav>
            </div>
        </nav>

        <!-- End Navbar -->
        <div class="container-fluid py-2">
            <div class="row ">
                <form role="form" method="post" action="/sub-products/sub-product-insert" enctype="multipart/form-data">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <label for="example-text-input" style="display: flex;"
                                            class="form-control-label">Tên sản phẩm</label>

                                <select class="optionBrands" name="idProduct"
                                    style="margin-bottom: 20px; margin-left: 0;">
                                    {{#each products}}
                                    <option value="{{this._id}}">{{this.name}}</option>
                                    {{/each}}
                                </select>


                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label for="example-text-input" style="display: flex;"
                                            class="form-control-label">Màu sắc</label>
                                        <select name="color" class="optionBrands"
                                            style="display: flex; margin-left: 0px;">
                                            <option value="black">Đen</option>
                                            <option value="white">Trắng</option>
                                            <option value="blue">Xanh</option>
                                            <option value="red">Đỏ</option>
                                            <option value="yellow">Vàng</option>
                                            <option value="pink">Hồng</option>
                                            <option value="gray">Xám</option>
                                            <option value="purple">Tím</option>
                                            <option value="orange">Cam</option>
                                            <option value="brown">Nâu</option>
                                            <option value="green">Xanh lá</option>
                                            <option value="silver">Bạc</option>
                                        </select>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Ram</label>
                                            <input required class="form-control" type="number" id="ram" name="ram"
                                                minlength="8" value="1" />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Rom</label>
                                            <input required class="form-control" type="number" id="rom" name="rom"
                                                minlength="8" value="1" />
                                        </div>
                                    </div>

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Số lượng</label>
                                            <input class="form-control" type="number" id="quantity" name="quantity"
                                                min="1" max="1000" value="1" required />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Giá tiền</label>
                                            <input class="form-control" required type="number" id="price" name="price"
                                                min="1" value="1" max="10000" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="example-text-input" class="form-control-label">Khuyến
                                                mãi</label>
                                            <input class="form-control" required type="number" id="sale" name="sale"
                                                min="0" value="0" max="100" />
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Cpu</label>
                                        <input class="form-control" required type="text" id="sale" name="cpu" />
                                    </div>
                                </div>

                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Screen</label>
                                        <input class="form-control" required type="text" id="sale" name="screen" />
                                    </div>
                                </div>


                                <div class="col-md-10">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Mô tả</label>
                                        <textarea name="description" id="editor"></textarea>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="example-text-input" class="form-control-label">Hình ảnh</label>
                                        <input type="file" id="image-file" onchange="onChangeFiles()" multiple
                                            name="pictures" />

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" style="display: flex; flex-direction: column;">
                                        <label for="example-text-input" class="form-control-label">Xem trước</label>
                                        <img id="image-view" width="200" height="200" src="" style="display: none;" />
                                    </div>
                                </div>

                                <button class="btn btn-primary btn-sm them-sp" type="submit" id="submit">Lưu</button>

                            </div>

                        </div>
                    </div>
                </form>
            </div>

        </div>
    </main>
    <!--   Core JS Files   -->
    <script src="/assets/js/core/popper.min.js"></script>
    <script src="/assets/js/core/bootstrap.min.js"></script>
    <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
    <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
            var options = {
                damping: '0.5'
            }
            Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
    </script>
    <!-- Github buttons -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="/assets/js/argon-dashboard.min.js?v=2.0.4"></script>

    {{!-- Choan thuong hieu theo loai san pham --}}
    <script>
        const fetchApi = async (url, option) => {
            const res = await fetch(url, option);
            return res.json();
        }
        //Lay brand theo idCategory
        const getBrands = async (idCategory) => {
            const domain = 'https://itech-server-datn.onrender.com';
            //const domain2 = 'http://localhost:3000';
            const response = await fetchApi(`${domain}/brands/cpanel/get-brand-by-id-category/${idCategory}`, {
                method: 'GET'
            });
            console.log(response.data);
            const brands = response.data;
            if (brands.length > 0) {
                //Hien thi brand theo idCategory len select
                const brandsSelect = document.getElementById('brandsSelect');
                brandsSelect.innerHTML = `<option value="">Chọn thương hiệu</option>` + brands.map(brand => `<option value="${brand._id}">${brand.name}</option>`).join('');

            } else {
                const brandsSelect = document.getElementById('brandsSelect');
                brandsSelect.innerHTML = `<option value="">Chọn thương hiệu</option>`;
            }

        }
        window.addEventListener('load', getBrands(document.getElementById('categoriesSelect').value));
    </script>

    {{!-- CKEditor --}}
    <script src="/ckeditor5/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
</body>

</html>