/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

.optionBrands {
  border-radius: 8px;
  border: 1px solid #ddd;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 80%;
  margin-bottom: 10px;

}

.them-sp {
  border-radius: 8px;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  margin-bottom: 10px;
  align-self: center;
}

.row-spbw {
  display: flex;
  flex-direction: row; justify-content: space-between;
  flex: 1;
}

.row-center {
  display: flex;
  flex-direction: row; justify-content: center; align-items: center;
}

.fl1 {
  display: flex;
  flex: 1;
}

.top10 {
  margin-top: 10px;
}

.total {
  font-size: 20px;
  font-weight: bold;
  color: red;
}

.red {
  color: red;
}
